<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <title>Vue.js for watching netflow of NTUST</title>
    <!-- Import CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Import newest Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
    <div id='header'>
        <ul>
            <header-items v-for=" i in List" v-bind:header="i" v-bind:key="i.id">
            </header-items>
        </ul>
    </div>

    <hr>
    <!-- xxx -->
    <h1>Netflow watcher of NTUST, made with Vue.js</h1>

    <!-- Time -->
    <h3>
        <div id="time"></div>
    </h3>
    <!-- Time -->
    <script>
        function updateClock() {
            var now = new Date()
            time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds() // again, you get the idea

            // a cleaner way than string concatenation
            var now = new Date(Date.now());
            var today = now.toLocaleDateString("zh-TW")

            // set the content of the element with the ID time to the formatted string
            document.getElementById('time').innerHTML = [today, time].join(' ');

            // call this function again in 1000ms
            setTimeout(updateClock, 1000);
        }
        updateClock();
    </script>

    <div id='ips'>
        <!-- <button v-on:click="getflow">Get flow</button> -->
        <ul>
            <ips v-for="i in List" v-bind:ip="i">
            </ips>
        </ul>
    </div>
    <!-- Load my Vue.js functions -->
    <script src="netflow.js"></script>
</body>

</html>